* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	padding-top: calc(
		var(--tg-viewport-safe-area-inset-top, 0px) +
			var(--tg-viewport-content-safe-area-inset-top)
	);
	padding-right: var(--tg-viewport-safe-area-inset-right, 0px);
	padding-bottom: var(--tg-viewport-safe-area-inset-bottom, 0px);
	padding-left: var(--tg-viewport-safe-area-inset-left, 0px);
	background-color: blue;
	color: blue;
}

body {
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
